<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_KEY" value="base64:uz4B1RtFO57QGzbZX1kRYX9hIRB50+QzqFeg9zbFJlY="/>
        <env name="CACHE_STORE" value="array" />
        <env name="DB_CONNECTION" value="sqlite" />
        <env name="DB_DATABASE" value="tests/database.sqlite" />
        <env name="MAIL_MAILER" value="array" />
        <env name="QUEUE_CONNECTION" value="database" />
        <env name="SQS_PREFIX" value="https://sqs.us-east-1.amazonaws.com/123456789" />
    </php>
</phpunit>
